.container {
  margin-top: 50px;
  text-align: center;
  overflow: hidden;
}

.tagline {
  font-size: 2.9em;
  padding: 1em;
}

.get-started {
  font-size: 1em;
}

.btn-link {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
}

.content-para {
  font-size: 2em;
  margin-top: 4em;
}

.why-us {
  color: white;
  background: #5aba89;
}

.why-us-title {
  font-size: 3em;
  font-weight: 900;
  padding: 20px;
}

.why-us-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.why-us-para {
  font-size: 1.5em;
  padding: 0 2em;
}

@media all and (max-width: 509px) {
  .tagline {
    font-size: 1.5em;
  }
  .get-started {
    display: block;
    margin: 0.4em auto;
    font-size: 1.5em;
  }

  .content-para {
    font-size: 1.5em;
    padding: 20px;
  }
}

@media all and (max-width: 1075px) {
  .content {
    display: grid;
    justify-items: center;
    padding: 0;
  }

  .content-para {
    margin-top: 0;
  }
}

@media all and (max-width: 712px) {
  .why-us-content {
    display: block;
    justify-items: center;
    padding: 0;
  }

  .content-1,
  .content-2,
  .content-3 {
    padding: 20px;
  }

  .content-1 img,
  .content-2 img,
  .content-3 img {
    width: 100px;
  }
}

@media all and (max-width: 610px) {
  img {
    width: 300px;
    padding: 0;
  }
}
