.quote-container {
  font-size: 1.4em;
  width: 60%;
  margin: 20px auto;
  color: #555555;
  padding: 1.2em 30px 1.2em 30px;
  border-left: 8px solid #5aba89;
  line-height: 1.6;
  text-align: center;
  background: #ededed;
}

.quote-loading {
  text-align: center;
}

.quote-author {
  font-weight: 900;
}
