.quote-container {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #5aba89;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

.quote-author {
  font-weight: 900;
}

.quote-container::before {
  content: "\201C";
  color: #5aba89;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.quote-container::after {
  content: "";
}

.quote-container span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}
