.container-auth {
  overflow: hidden;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.container-auth img {
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
}

.signup .title {
  font-size: 2.5em;
  font-weight: 900;
  color: #5aba89;
}

.signup p {
  font-size: 1.5em;
}

.signup {
  padding: 20px;
}

.signup input {
  font-size: 1.2em;
  width: 75%;
  padding: 8px;
  margin: 18px 0px;
  border: 1px solid #dddddd;
}

.signup input:focus {
  outline: none;
}

@media all and (max-width: 920px) {
  .container-auth img {
    width: 400px;
  }
}

@media all and (max-width: 750px) {
  .container-auth {
    display: block;
  }

  .container-auth img {
    display: none;
  }

  .signup {
    padding: 50px;
  }
}

@media all and (max-width: 450px) {
  .signup {
    padding: 30px;
  }

  .signup .title {
    font-size: 2em;
    font-weight: 900;
  }

  .signup input {
    font-size: 1.2em;
    width: 90%;
    padding: 8px;
    margin: 8px 0px;
    border: 1px solid #dddddd;
  }
}
