.cards-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;
  width: 350px;
  height: 350px;
  border-radius: 40px;
}

.cards-list img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

@media all and (max-width: 500px) {
  .card-list {
    display: block;
  }
}

@media all and (max-width: 280px) {
  .card {
    width: 200px;
    height: 200px;
  }
}
