.footer-container {
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

.footer-left {
  float: left;
}

.footer-heading {
  font-size: 35px;
  color: #00575c;
  margin: 0 0 10px;
}

.footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-company-name {
  color: #8f9296;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.footer-icons {
  margin-top: 40px;
}

.footer-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  color: #00575c;
  text-align: center;
}

.footer-right {
  margin-top: 5px;
  float: right;
  display: grid;
  color: #ffffff;
}

.footer-right a {
  text-decoration: none;
  font-size: 25px;
  color: #00575c;
}

@media (max-width: 1000px) {
  .footer-container {
    font: bold 14px sans-serif;
  }

  .footer-company-name {
    font-size: 12px;
  }
}

@media (max-width: 867px) {
  .footer-container {
    padding: 30px;
  }

  .footer-left,
  .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-container .footer-left {
    margin-bottom: 40px;
  }
}
