.pomodoro-container {
  text-align: center;
}

.pomodoro-timer {
  max-width: 30%;
  margin: 0 auto;
}

.pomodoro-buttons {
  margin-top: 10px;
}

@media all and (max-width: 1000px) {
  .pomodoro-timer {
    max-width: 50%;
  }
}
